<%- include("partial/start.ejs") %>

<main class="container text-center my-5">
    <h1 class="about-title" style="font-weight: bold; font-size: 50px; font-family: 'Dishonorable Mention: Comic Sans'; margin-top: 5px;">ABOUT US</h1>
    <br>
    
    <div class="about-container" style="background-color: #D1E9F6; border: 2px solid #921A40; border-radius: 10px; padding: 20px; display: inline-block; margin-top: 20px;">
        <p class="about-description">
            <br><br> Welcome to our official Taylor Swift merchandise shop! <br>
        </p>
        <br>
        <p>
            We offer a curated selection of exclusive merchandise that celebrates the incredible journey of Taylor Swift. From stylish apparel to unique collectibles, each item is designed for fellow Swifties to express their love and support for Taylor's music and artistry.
        </p>
        <br>
        <p>
            Our mission is to provide fans with high-quality merchandise that resonates with Taylor's spirit and creativity. Whether you're looking for the perfect outfit for a concert or a special gift for a fellow fan, we've got you covered.
        </p>
        <br>
        <p>
            Join us in celebrating Taylor Swift's music and legacy by shopping our collection. Every purchase helps support our fan community and keeps the spirit of Swifties alive! 
        </p>
    </div>
    <br>
    <a href="/policies" class="btn" style="padding: 10px 20px; font-size: 16px; background-color: #921A40; color: white; border: none; border-radius: 5px; text-decoration: none;">View Policies</a>
    <br><br>
</main>

<%- include("partial/end.ejs") %>
