<%- include('partial/start.ejs') %>
<h3 class="text-center mt-5"style="font-weight: bold; font-size: 50px; font-family: 'Dishonorable Mention: Comic Sans'; margin-top: 5px;" >ADD NEW PRODUCT </h3>
<div class="container d-flex justify-content-center">
    <form action="/products/add" method="POST" enctype="multipart/form-data" class="bg-light p-4 rounded shadow">
        <div class="mb-3">
            <label for="name" class="form-label">Product Name:</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Product Description:</label>
            <textarea name="description" class="form-control" required></textarea>
        </div>
        
        <div class="mb-3">
            <label for="price" class="form-label">Product Price:</label>
            <input type="number" name="price" class="form-control" required step="0.01">
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Product Image:</label>
            <input type="file" name="image" class="form-control" accept="image/*" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br><br><br><br><br><br>
<%- include('partial/end.ejs') %>
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
