 <%- include("partial/start.ejs") %>

    <main class="container text-center my-5">
        <h1 class="title" style="font-weight: bold; font-size: 50px; font-family: 'Dishonorable Mention: Comic Sans';">WELCOME SWIFTIES!</h1>
        <br>
        <div class="taylor-images">
            <img src="/images/black1.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/item4.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/item7.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/item6.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/1989hoodie.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/hoodie.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/item2.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/item3.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/1989item.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/item5.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/hoodiegray.jpg" alt="Taylor Swift" class="taylor-image">
            <img src="/images/item8.jpg" alt="Taylor Swift" class="taylor-image">
        </div>
        <br>
        <br>
        <div class="notice-container">
            <p>@swiftiemerchandise2024</p>
        </div>
    </main>

    <%- include("partial/end.ejs") %>

